body{
    font-family: serif;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header{
    background-color: white;
    height: 110px;
    text-align: center;
    padding-top: 130px;
    font-size: 30px;
    background-image: url(/images/header.jpeg);
    background-repeat: no-repeat;
    background-size: 260px 240px;
    background-position: center /*bottom 30px right 50px*/;
}

header a{
    text-decoration: none;
    color: black;
}

nav{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: initial;
    padding-bottom: 30px;
    padding-top: 5px;
}

footer{
    background-color: white;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /*
    border-top: 2px solid #201E45 ;
    border-bottom: 2px solid #201E45;
    */
}

#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-width: 900px;
    max-width: 1300px;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

h2{
    font-size: 30px;
    padding-left: 3%;
    padding-right: 3%;
}

h3, p{
    padding-left: 3%;
    padding-right: 3%;
    font-family: inherit;
    font-size: 20px;
}

table{
    padding-top: 2%;
    font-size: 18px;
    font-family: serif;
    width: auto;
    margin: auto;
}

tr, th, td{
    border: 1px solid lightgray;
}

th{
    background-color:lightgrey;
}

th, td{
    padding-left: 2%;
    padding-right: 2%;
}

ul{
    overflow: hidden;
    margin: auto;
    font-size: 20px;
}

nav{
    text-align: center;
}

nav li{
    display: inline;
}

li a, .dropbtn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn{
    background-color:lightpink;
}

li.dropdown{
   display: inline-block;
}

.dropdown-content{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a{
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content{
   display: block;
}


@media only screen and (max-width:1024px){
    body{
        background-image: none;
        margin: 0;
    }

    #wrapper{
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    nav ul{
        margin: 0;
    }

    main{
        margin: 0;
        font-size: 90%;
    }
}

/*
@media only screen and (max-width:768px){
    header{
        background-color: black;
        background-image: none;
        background-size: 0;
        padding-top: 20px;
        font-size: 20px;
        border-bottom: none;
    }

    h1{
        color: white;
    }
    
    nav{
        margin: 0;
        padding-bottom: 0;
        padding-top: 5px;
    }
    
    nav a{
        display: block;
        font-size: 13px;
        padding: 0%;
    }

    h2{
        padding-top: 20px;
    }

    iframe{
        height: 200px;
        width: 300px;
    }

}
*/